<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My job wallet">

    <title>Orientation Choice</title>
    
    <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
    
  <script type="module" crossorigin src="../../assets/view_becomeArchaeologist-3ebb6776.js"></script>
  <link rel="modulepreload" crossorigin href="../../assets/main-b4a669df.js">
  <link rel="modulepreload" crossorigin href="../../assets/translate-1ba34e64.js">
  <link rel="modulepreload" crossorigin href="../../assets/firebase-6d97cafc.js">
  <link rel="modulepreload" crossorigin href="../../assets/config-adf52b6e.js">
  <link rel="modulepreload" crossorigin href="../../assets/job-1b9471bc.js">
  <link rel="stylesheet" href="../../assets/main-4ef74437.css">
</head>
    <body>
        <main id="ask" style="display: flex;">
            <div
                id="title"
                style="font-size: 30px; padding: 25px; font-weight: bold;"
            >
                The "AECHAEOLOGIST" job!
            </div>
            <div id="text" style=" padding: 10px 25px 10px 50px; font-size: 20px;">
                <p id="text1">Become the archaeologist of the game 🧐</p>
                <p id="text2">This is a major role and the first skill is... LOGICALY, FIND and DISCOVER!</p>
                <p id="text3">Could you think to be a great Archaeologist?</p>
            </div>
            <div class="text-align-right m-2">
                <button class="btn bg-info cursor-pointer" id="startGameButton">
                    Archaeo 😍... Let's go 💪
                </button>
                <button class="btn bg-info-outline cursor-pointer" id="closeButton">
                    Not sure yet 🤔
                </button>
            </div>
        </main>
        <main id="accepted" style="display: none;">
            <div
                id="validateTitle"
                style="font-size: 30px; padding: 25px; font-weight: bold;"
            >
                You are the "AECHAEOLOGIST" 😍
            </div>
            <div id="text" style=" padding: 10px 25px 10px 50px; font-size: 20px;">
                <p id="validateText1">Welcome to the new game, the archaeologist is a major role in this escape game. Prepare yourself and wait your colleague to start the game.</p>
                <p id="validateText2">Not sure? No problem, you can cancel it and back to choose the other job!</p>
            </div>
            <button class="btn bg-info-outline cursor-pointer" id="cancelButton">
                Finaly... It's not for me... 😱
            </button>
        </main>
    </body>
</html>