<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My job wallet">

    <title>Orientation Choice</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
    <script src="becomeArchaeologist.ts" type="module"></script>
</head>
    <body>
        <main id="ask" style="display: flex;">
            <div
                id="title"
                style="font-size: 30px; padding: 25px; font-weight: bold;"
            >
                The "AECHAEOLOGIST" job!
            </div>
            <div id="text" style=" padding: 10px 25px 10px 50px; font-size: 20px;">
                <p>Become the archaeologist of the game 🧐</p>
                <p>This is a major role and the first skill is... LOGICALY, FIND and DISCOVER!</p>
                <p>Could you think to be a great Archaeologist?</p>
            </div>
            <div class="text-align-right m-2">
                <button class="btn bg-info cursor-pointer" id="startGameButton">
                    Archaeo 😍... Let's go 💪
                </button>
                <button class="btn bg-info-outline cursor-pointer" id="closeButton">
                    Not sure yet 🤔
                </button>
            </div>
        </main>
        <main id="accepted" style="display: none;">
            <div
                id="title"
                style="font-size: 30px; padding: 25px; font-weight: bold;"
            >
                You are the "AECHAEOLOGIST" 😍
            </div>
            <div id="text" style=" padding: 10px 25px 10px 50px; font-size: 20px;">
                <p>Welcome to the new game, the archaeologist is a major role in this escape game. Prepare yourself and wait your colleague to start the game.</p>
                <p>Not sure? No problem, you can cancel it and back to choose the other job!</p>
            </div>
            <button class="btn bg-info-outline cursor-pointer" id="cancelButton">
                Finaly... It's not for me... 😱
            </button>
        </main>
    </body>
</html>