<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My job wallet">

    <title>Orientation Choice</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
    <script src="discussion.ts" type="module"></script>
</head>
    <body>
        <div style="background: transparent; color: white;overflow: hidden;height: 100%;display: flex;flex-direction: column;align-content: center;align-items: center;justify-content: center;padding: 100px;">
            <div
                id="title"
                style="font-size: 30px; padding: 25px; font-weight: bold;"
            >
            </div>
            <div id="text" style=" padding: 10px 25px 10px 50px; font-size: 20px;">

            </div>
            <div class="text-align-right m-2">
                <button class="btn bg-info cursor-pointer" id="closeButton">
                </button>
            </div>
        </div>
    </body>
</html>