<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Digicode">

        <title>Digicode</title>
        
        <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/view_digicode-1d57ebfc.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-b4a669df.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-1ba34e64.js">
      <link rel="modulepreload" crossorigin href="../../assets/config-3db041a0.js">
      <link rel="modulepreload" crossorigin href="../../assets/sounds-0b59e88b.js">
      <link rel="modulepreload" crossorigin href="../../assets/digicode-c332051b.js">
      <link rel="stylesheet" href="../../assets/main-4ef74437.css">
    </head>
    <body style="height: 100%;">
    <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; border: 4px black solid;" class="bg-main">
        <div style="flex-grow: 1; margin: 2rem">
            <div class="pb-2" style="text-align: right">
                <button id="close" class="btn bg-error">Fermer</button>
            </div>
            <div>
                <table style="border: 4px black solid; margin: auto;">
                    <tr>
                        <td colspan="3" id="codeDisplay" style="background: grey; height: 30px; border: 4px black solid;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button id="cancel">❌</button>
                        </td>
                        <td>
                            <button id="validate">✅</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="button1" class="code-button">1</button>
                        </td>
                        <td>
                            <button id="button2" class="code-button">2</button>
                        </td>
                        <td>
                            <button id="button3" class="code-button">3</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="button4" class="code-button">4</button>
                        </td>
                        <td>
                            <button id="button5" class="code-button">5</button>
                        </td>
                        <td>
                            <button id="button6" class="code-button">6</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="button7" class="code-button">7</button>
                        </td>
                        <td>
                            <button id="button8" class="code-button">8</button>
                        </td>
                        <td>
                            <button id="button9" class="code-button">9</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="buttonA" class="code-button">A</button>
                        </td>
                        <td>
                            <button id="button0" class="code-button">0</button>
                        </td>
                        <td>
                            <button id="buttonB" class="code-button">B</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </body>
</html>