<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Invitation received</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        <link rel="stylesheet" href="../styles/main.css">

        <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
        <script src="./invitationReceived.ts" type="module"></script>
    </head>
    <body>
        <div class="bg-main">
            <div>
                <span id="youHaveBeenInvited">Vous avez été invité par </span>
                <span id="name"></span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <button id="refuse" class="btn bg-error">
                    Refuser
                </button>
                <button id="accept" class="btn bg-success">
                    Accepter
                </button>
            </div>
        </div>
    </body>
</html>