<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Invitation received</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        

        <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/view_invitationReceived-e50bd9f2.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-531b8551.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-df78904b.js">
      <link rel="modulepreload" crossorigin href="../../assets/config-3db041a0.js">
      <link rel="modulepreload" crossorigin href="../../assets/lobby-12001f23.js">
      <link rel="modulepreload" crossorigin href="../../assets/sounds-16fb2661.js">
      <link rel="stylesheet" href="../../assets/main-83c918d8.css">
    </head>
    <body>
        <div class="bg-main">
            <div>
                <span id="youHaveBeenInvited">Vous avez été invité par </span>
                <span id="name"></span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <button id="refuse" class="btn bg-error">
                    Refuser
                </button>
                <button id="accept" class="btn bg-success">
                    Accepter
                </button>
            </div>
        </div>
    </body>
</html>