<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Players list</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        

        <style>
            .player-line {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
                border-bottom: 1px black solid;
            }

            .player-line img {
                padding: 10px;
            }
        </style>

        <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/view_playerList-bd840d08.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-531b8551.js">
      <link rel="modulepreload" crossorigin href="../../assets/init-0f7c740a.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-d272070d.js">
      <link rel="modulepreload" crossorigin href="../../assets/sounds-5d3f972e.js">
      <link rel="modulepreload" crossorigin href="../../assets/lobby-e42f4b07.js">
      <link rel="stylesheet" href="../../assets/main-83c918d8.css">
    </head>
    <body>
        <div class="bg-main p-2">
            <div id="playerList">
                Liste des joueurs autour de moi
            </div>
            <div>
                <button class="btn bg-error mt-2 mb-2" id="close">
                    FERMER
                </button>
            </div>
        </div>
    </body>
</html>