<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Players list</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        

        <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/view_waitingForAnswer-5cfd009c.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-531b8551.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-a92a2393.js">
      <link rel="modulepreload" crossorigin href="../../assets/config-3db041a0.js">
      <link rel="modulepreload" crossorigin href="../../assets/lobby-12001f23.js">
      <link rel="modulepreload" crossorigin href="../../assets/sounds-38d81953.js">
      <link rel="stylesheet" href="../../assets/main-83c918d8.css">
    </head>
    <body>
        <div class="bg-main">
            <div id="waitingForAnswer">
                En attente de la réponse (TODO : translations)
            </div>
            <div>
                <button id="cancelButton" class="btn bg-error">
                    Annuler (TODO : Translations)
                </button>
            </div>
        </div>
    </body>
</html>