<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Players list</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        <link rel="stylesheet" href="../styles/main.css">

        <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
        <script src="./waitingForAnswer.ts" type="module"></script>
    </head>
    <body>
        <div class="bg-main">
            <div id="waitingForAnswer">
                En attente de la réponse (TODO : translations)
            </div>
            <div>
                <button id="cancelButton" class="btn bg-error">
                    Annuler (TODO : Translations)
                </button>
            </div>
        </div>
    </body>
</html>