<!DOCTYPE html>
<html lang="en">
<head>
    <title>Players list</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="Players list">

    

    <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
    
  <script type="module" crossorigin src="../../assets/view_youAreGoingToBeRedirected-4c260a4b.js"></script>
  <link rel="modulepreload" crossorigin href="../../assets/main-531b8551.js">
  <link rel="modulepreload" crossorigin href="../../assets/translate-df78904b.js">
  <link rel="stylesheet" href="../../assets/main-83c918d8.css">
</head>
    <body>
        <div class="bg-main p-2">
            <div class="text-align-center" id="explanation">
                Vous allez être redirigé vers le jeu
            </div>
            <div>
                <button
                        id="redirectionButton"
                        class="btn bg-info">
                </button>
            </div>
        </div>
    </body>
</html>