<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Base runes wallet">

        <title>Base runes</title>
        
        <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/view_base-cc89abde.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-531b8551.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-da45fed2.js">
      <link rel="modulepreload" crossorigin href="../../assets/firebase-a8cde200.js">
      <link rel="modulepreload" crossorigin href="../../assets/config-adf52b6e.js">
      <link rel="modulepreload" crossorigin href="../../assets/job-55a8da1b.js">
      <link rel="modulepreload" crossorigin href="../../assets/readRunes-0e90811b.js">
      <link rel="modulepreload" crossorigin href="../../assets/sounds-fa9583ac.js">
      <link rel="stylesheet" href="../../assets/main-83c918d8.css">
    </head>
    <body>
        <div class="bg-main p-2">
            <div id="title" class="text-align-center" style="font-size: 18px; color: white;">
                Title
            </div>
            <div id="content" class="mt-2" style="color: white;">
                CECI EST MON SITE DE RUNES
            </div>
            <div class="text-align-center mt-2">
                <button id="closeButton" class="btn bg-info">
                    Fermer
                </button>
            </div>
        </div>
    </body>
</html>