<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Base runes wallet">

        <title>Base runes</title>
        
        <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/view_base-b4fdf612.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-531b8551.js">
      <link rel="modulepreload" crossorigin href="../../assets/init-0f7c740a.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-d272070d.js">
      <link rel="modulepreload" crossorigin href="../../assets/sounds-5d3f972e.js">
      <link rel="modulepreload" crossorigin href="../../assets/job-eb8dc8ef.js">
      <link rel="modulepreload" crossorigin href="../../assets/readRunes-ecdf0d32.js">
      <link rel="stylesheet" href="../../assets/main-83c918d8.css">
    </head>
    <body>
        <div class="bg-main p-2">
            <div id="title" class="text-align-center" style="font-size: 18px;">
                Title
            </div>
            <div id="content" class="mt-2">
                CECI EST MON SITE DE RUNES
            </div>
            <div class="text-align-center mt-2">
                <button id="closeButton" class="btn bg-info">
                    Fermer
                </button>
            </div>
        </div>
    </body>
</html>