<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My job wallet">

    <title>Orientation Choice</title>
    
    <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
    
    <style>
        .no-scroll-bar{
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scroll-bar::-webkit-scrollbar {
            display: none;
        }
    </style>
  <script type="module" crossorigin src="../../assets/view_discussion-92c494f4.js"></script>
  <link rel="modulepreload" crossorigin href="../../assets/main-b4a669df.js">
  <link rel="modulepreload" crossorigin href="../../assets/translate-1ba34e64.js">
  <link rel="modulepreload" crossorigin href="../../assets/config-3db041a0.js">
  <link rel="modulepreload" crossorigin href="../../assets/discussionv2-a040ca14.js">
  <link rel="modulepreload" crossorigin href="../../assets/sounds-0b59e88b.js">
  <link rel="stylesheet" href="../../assets/main-4ef74437.css">
</head>
    <body style="max-height: 110px; overflow: hidden;">
        <div style="
                background: black; 
                color: white;
                display: grid;
                grid-template-columns: 150px 1fr 150px;
                overflow: hidden;
                height: 100%;
                flex-direction: column;
                align-content: center;
                align-items: center;
                justify-content: center;
                border-radius: 14px;
                border: solid 2px black;
            "
            >
            <div style="border: solid 1px white; border-radius: 14px; height: fit-content; width: fit-content; display: flex; align-items: center; justify-content: center; padding: 10px;">
                <img id="avatar" height="80px" src="" />
            </div>
            <div class="no-scroll-bar" style="padding: 10px; font-size: 16px; max-height: 80px; overflow: scroll;">
                <p id="title" style="font-style: italic; font-size: 12px; margin: 0px;"></p>
                <p id="text" style="margin: 0px;"></p>
            </div>
            <div class="text-align-right" style="display: flex; justify-content: center;">
                <button class="btn cursor-pointer" 
                    id="closeButton"
                    style="
                        background: none;
                        border: solid 1px white;
                        border-radius: 12px;
                        color: white;
                        padding: 14px 28px;
                        height: fit-content;
                    "
                >
                </button>
            </div>
        </div>
    </body>
</html>