<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My inventory">

    <title>Cheat sheet</title>
    

    <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
    
  <script type="module" crossorigin src="../../assets/view_cheatSheet-c30f24a4.js"></script>
  <link rel="modulepreload" crossorigin href="../../assets/main-531b8551.js">
  <link rel="modulepreload" crossorigin href="../../assets/translate-a92a2393.js">
  <link rel="stylesheet" href="../../assets/main-83c918d8.css">
</head>
<body>
<div class="bg-main p-2">
    <div class="text-align-right">
        <button id="close" class="btn bg-error">X</button>
    </div>
    <div id="note" class="handwriting-font error text-align-center"></div>
    <div id="content" class="handwriting-font" style="color:white;"></div>
</div>
</body>
</html>