<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My inventory">

    <title>Cheat sheet</title>
    <link rel="stylesheet" href="../styles/main.css">

    <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
    <script src="cheatSheet.ts" type="module"></script>
</head>
<body>
<div class="bg-main p-2">
    <div class="text-align-right">
        <button id="close" class="btn bg-error">X</button>
    </div>
    <div id="note" class="handwriting-font error text-align-center"></div>
    <div id="content" class="handwriting-font"></div>
</div>
</body>
</html>